.body-container {
  display: grid;
  grid-template-columns: minmax(200px, auto) 7fr;
  grid-template-rows: 100px auto;
  grid-gap: 10px;
}
.container {
  /* display: grid;
  /* background-color: powderblue; */
  /* grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  /* grid-template-rows: minmax(auto, 260px); */
  /* grid-auto-rows: minmax(200, auto);
  grid-column: 2/-1;  */
  align-items: stretch;
  display: grid;
  grid-gap: 10px;
  grid-column: 2/-1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  justify-self: stretch;
  margin: 0;
}

.imgCard {
  max-width: 100%;
  transition: 0.2s;
  z-index: 1;
}

/* .imgCard:hover {
  -webkit-transform: scale(1.03);
  box-shadow: 0px 0px 15px #555;
} */
.divCard {
  position: relative;
}
.header {
  background-color: fuchsia;
  grid-column: 2/-1;
}

.footer {
  grid-column: 1/2;
  grid-row: 1/-1;
  background-color: yellow;
}
.overlay .divCard {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
/* .overlay--on {
  position: absolute;
  width: 100%;
  z-index: 2;
  opacity: 1;

  /* transition: 0.2s; */
/* }  */
.divCard:hover .overlay {
  opacity: 1;
}
